{extends file="layouts/user.html"}
{block name="content"}
<h4 class="page-header">订单操作日志</h4>                                 

		
		<table class="table table-hover table-striped">
		    <thead>
		        <tr>
		            <th>操作</th>
		            <th>备注</th>
		            <th>操作者编码</th>
		            <th>操作者</th>
		            <th>操作时间</th>
		        </tr>
		    </thead>
		    <tbody>
		        {foreach $OrderLog as $or}
		        <tr>
		            <td>{$or.action}</td>
		            <td>{$or.note}</td>
		            <td>{$or.admin_id}</td>
		            <td>{$or.admin_user}</td>
		            <td>{$or.add_time|date_format:"%Y/%m/%d %H:%I:%S"}</td>
		        </tr>
		        {/foreach}
		    </tbody>
		</table>
		
		{assign var="page" value=$this->widget('application.widgets.WebPager',['pages'=>$pages])}
		
		<div class="modal fade showorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		
		        </div>
		    </div>
		</div>


</div>
</body>
{/block}