{extends file="../layouts/manage.html"}
{block name="box"}
	<div class="row">
        <div class="col-sm-2 sidebar">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">VIP卡管理</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <ul class="panel-body nav">
                        	<li><a href="/vip">VIP卡查询</a></li>
                            <li><a href="/vip/consume">消费记录查询</a></li>
                            <li><a href="/card">申请VIP卡</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">财务管理</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <ul class="panel-body nav">
                        	<li><a href="/finance/commission">佣金查询</a></li>
                        	<li><a href="/finance">结算查询</a></li>
                            <li><a href="/finance/apply">我要结算</a></li>
                            <li><a href="/finance/settle">结算申请</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">账户管理</a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse in">
                        <ul class="panel-body nav">
                        	<li><a href="/announce">系统公告</a></li>
                        	<li><a href="/profile">基本信息设置</a></li>
                            <li><a href="/bank">银行信息设置</a></li>
                            <li><a href="/agentgroup">会员分组管理</a></li>
                            <li><a href="/message">联系我们</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-2 main">
        	<h4 class="page-header">{block name="title"}{$smarty.block.child}{/block}</h4>
            {assign var="ok" value=Yii::app()->user->getFlash("ok")}
            {if $ok}
            <div class="alert alert-success" role="alert">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{$ok}
            </div>
            {/if}

            {assign var="error" value=Yii::app()->user->getFlash("error")}
            {if $error}
            <div class="alert alert-danger" role="alert">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	{if is_array($error)}
            	{foreach $error as $ei}
            	{foreach $ei as $e}
            	<p>{$e}</p>
            	{/foreach}
            	{/foreach}
            	{else}
            	{$error}
            	{/if}
            </div>
            {/if}
            {block name="content"}{/block}
        </div>
	</div>
{/block}