{extends file="../layouts/site.html"}
{block name="title"}上传身份证{/block}
{block name='css'}global,index{/block}
{block name="content"}

<div class="row">
	{if Yii::app()->user->hasFlash('error')}
		<div class="alert alert-danger alert-dismissible fade in text-center" role="alert">
	      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	     {Yii::app()->user->getFlash('error')}
	    </div>
	{/if}
</div>

<div class="middle w clearfix">
	<form action="/track" method="post">
    	<input type="hidden" name="next" value="index"/>
	        <div class="goods fl ">
	            <div class="mt15 bigfs fs18 fw">货物追踪</div>
	            <div class="mt10">
	                <textarea name="date[track]"></textarea>
	            </div>
	            <div class="mt10">
	                <div class="fl gc6">
	                    <span>验证码：</span>
	                    <input type="text" name="date[captcha]" class="yzm" />
	                    <img src="/captcha" class="captcha_img"/>
	                </div>
	                <div class="fr">
	                    <button style="submit" class="btn">查询<s></s></button>
	                </div>
	            </div>
	            <div class="blank20"></div>
	            <div class="mt20" style="text-indent:2em;">
	            	您也可以将收件人身份证正面和反面照片直接发至我司专设邮箱：id@arkexpress.com.au（同一收件人只需上传一次）<br/>
邮件标题：您的运单号码和收件人姓名。<br/>

邮件附件：身份证正面照片（命名为：您的身份证号码-1）；身份证反面照片（命名为：您的身份证号码-2）。<br/>

身份证文件较大时，可能导致上传较慢，请您尽可能将身份证文件控制在500k以内，同一姓名订单，可以多单号一次上传，运单号用空格分开即可 例如 AFE00041320 AFE00041320
	            </div>
	        </div>
       </form> 
 <form action="/uploadid" method="post" id="uploadcard_form">   
	<div class="upload fr">
		<div class="mt20 bigfs fs18 fw">邮寄流程</div>
		<div class="line mt10"></div>
		<div class="mt20">
			<p>1、因国际物流，请务必提供身份证报关专用</p>
			<p>2、为保护隐私，证件图片自动添加水印，不会对您的身份信息做记录和保留 </p>
			<p>3、请务必按照本网页内图片事例上传收件人的二代身份证图片，保存清晰，横放，不符合规范的图片将影响包裹寄出，感谢您的配合</p>
		</div>
		<div class="mt30 clearfix" id="person_info">
			<div class="fl gc6 mr25 clearfix">
				<span>收件人：</span>
				<input type="text" class="sjr"  name="data[realname]"/>
			</div>
			<div class="fl mr25 gc6">
				<span>电话：</span>
				<input type="text"class="dh" name="data[mobile]"/>
			</div>
			<div class="fl mr25 gc6">
				<span>身份证号码：</span>
				<input type="text" class="sfz" name="data[idcard]" placeholder="长度不能超过18位" maxlength="18"/>
			</div>
		</div>
		<div class="mt20 foruploadcard">
			<div class="sc fl">
				<div class="mt10 fk" id="upload_fg_img">
				</div>
				<div class="tac mt5 pr uploadimg">
					<button class="btn"  type="button" id="upload_fg">上传身份证正面<s></s></button>
				</div>
				<p class="tal mt5">仅支持jpg、jpeg、png格式，文件小于2M</p>
			</div>
            <div class="sc fl ml70 mt10">
            	<img src="style/zm.jpg"/>
            </div>
		</div>
        <div class="mt20 foruploadcard">
			<div class="sc fl">
				<div class="mt10 fk" id="upload_bg_img">
				</div>
				<div class="tac mt5 pr uploadimg">
					<button class="btn"  type="button" id="upload_bg">上传身份证反面<s></s></button>
				</div>
				<p class="tal mt5">仅支持jpg、jpeg、png格式，文件小于2M</p>
			</div>
            <div class="sc fl ml70 mt15">
            	<img src="style/bm.jpg"/>
            </div>
		</div>
		<input type="hidden" value="" id="upload_fg_val" name="data[id_fg]"/>
		<input type="hidden" value="" id="upload_bg_val" name="data[id_bg]"/>
		<div>
            <button style="submit" id="idcard_submit" class="btn">提交<s></s></button>
        </div>
	</div>
</form>
</div>
<div id="mongolia-layer">
</div>
<div id="loading">
	<span></span>正在上传....
</div>
{/block}

{block name="js"}
<script src="/js/upload.js"></script>
{/block}